<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%#= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag "custom"%>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<%#= javascript_include_tag "vendor/jquery.js" %>
  	<%#= javascript_include_tag "vendor/fastclick.js" %>
  	<%#= javascript_include_tag "foundation.min.js" %>
  	<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
             <h1><a href="/">Home</a></h1>
        </li>
        <li class="toggle-topbar menu-icon">
        	<a href="#"><span>Menu</span></a>
        </li>
    </ul>

    <section class="top-bar-section">
	    <ul class="left">
	        <li class="divider"></li>
            <li class="active"><a href="/surveys/new">Create Survey</a></li>
            <li class="divider"></li>
	    </ul>
	    <ul class="right">
		    <li class="has-form">
			  <div class="row collapse">  
			    <%= form_tag("/", method: "GET") do |f| %>
				    <div class="large-6 small-9 columns">
				      <%= text_field_tag(:q, params[:q]) %>
				    </div>
				    <div class="large-6 small-3 columns">
				      	<%= submit_tag("Search",class: 'alert button expand') %>
					</div>
			    <%end%>
			  </div>
			</li>
		</ul>
	</section>
</nav>
<br/>
<br/>

<%= yield %>
  <script>$(document).foundation();</script>
  </body>
</html>
